.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(195, 195, 195);
}
.main-container {
  flex: 1 1 auto;
  display: flex;
}
.main-container > * {
  flex: 1 1 auto;
}
.main-content {
  background-color: #ededed;
  border: 1px solid #989898;
}

.main-content {
  display: flex;
}
.dashboard-sidebar,
.dashboard-main {
  border: 1px solid gray;
}
.dashboard-sidebar {
  width: 150px;
}
.dashboard-main {
  flex: 1;
  padding: 5px;
}
